AWSTemplateFormatVersion: '2010-09-09'
Description: 'AWS Secrets Manager secret for DB credentials'
Parameters:
  PostgresPassword:
    Type: String
    Description: 'Plain text postgres password (will be stored securely)'
    NoEcho: true
Resources:
  DbCredentialsSecret:
    Type: AWS::SecretsManager::Secret
    Properties:
      Name: db-credentials
      Description: 'Secret for PostgreSQL database credentials'
      SecretString: !Sub '{"postgres-password": "${PostgresPassword}"}'
Outputs:
  SecretArn:
    Description: 'ARN of the secret'
    Value: !Ref DbCredentialsSecret
    Export:
      Name: DbCredentialsSecretArn
